.dataTables_wrapper .dataTables_paginate {
  display: flex;
}

.dataTables_wrapper .dataTables_paginate span {
  display: flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  z-index: 2;
  color: #8898aa !important;
  text-decoration: none;
  background: #dee2e6 !important;
  border-color: #dee2e6 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  z-index: 3;
  color: #fff !important;
  background: #5e72e4 !important;
  border-color: #5e72e4 !important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8898aa !important;
  background: #fff !important;
  border: 1px solid #dee2e6 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 3px;
  border-radius: 50% !important;
  width: 36px !important;
  height: 36px !important;
  font-size: 0.875rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  z-index: 2;
  color: #8898aa !important;
  text-decoration: none;
  background: #dee2e6 !important;
  border-color: #dee2e6 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  z-index: 2;
  color: #8898aa;
  text-decoration: none;
  background: #dee2e6;
  border-color: #dee2e6;
}

table.dataTable tbody tr.selected > * {
  box-shadow: inherit !important;
  color: inherit !important;
  background-color: inherit !important;
}

table.dataTable > tbody > tr.selected > td.select-checkbox::after,
table.dataTable > tbody > tr.selected > th.select-checkbox::after {
  color: #5e72e4;
}
